<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">

    <br/><br/><br/>
    <!-- Start Row -->
    <div class="row">
        <div class="col-md-6 video-container">

            <!--Audio is broad casted from here-->
            <audio id="mainAudio" autoplay></audio>

            <!--<canvas id="canvas1" width="300" height="400" style="border:2px solid #000000;"></canvas>-->

            <div id="mainFormShareVideo" style="border:5px solid #000000;">
                <video id="mainFormShareVideo1" autoplay style="display: none"></video>
                <!--<canvas id="mainFormCanvas"></canvas>
                <canvas id="mainFormCanvas2"></canvas>-->
                <!--<input id="mainFormCanvasTextInput" type="text"/>
                <div id="mainFormShareName" class="video-label">Share</div>-->
                <img id="mainFormShareVideoImage" src="img/shreensharedummy.jpg" style="width: 100%;">
            </div>

            <!--<div id="raiseMyHand" style="padding-top: 5px">
                <button ng-click="raiseMyHand()" class="btn btn-option4"><i class="fa fa-question-circle"></i>Raise Hand</button>
            </div>-->

            <div class="row" style="padding-top: 5px">
                <div class="col-md-4">
                    <button ng-click="raiseMyHand()" ng-show="status.showRaiseMyHand" class="btn btn-option4"><i class="fa fa-question-circle"></i>Raise Hand</button>
                </div>
                <!--<div class="col-md-7"></div>
                <div class="col-md-1">
                    <div class="btn btn-option4 btn-icon">
                        <span class="fa fa-volume-up"></span>
                    </div>
                </div>-->
            </div>
        </div>

        <div class="col-md-2">

            <!--Display his self view-->
            <!--<video id="mainFormSelfVideo" height="150px" autoplay style="border:2px solid #000000;">
            </video>
            <div id="mainNameSelf">YOU</div>-->


            <!--Display the teachers's video, which is the first video-->
            <video id="mainVideo1" height="150px" autoplay style="display: none;border:2px solid #000000;"></video>
            <div id="mainName1" style="display: none"></div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>











