<!-- Start Page Header -->
<!--<div class="page-header">
    <h1 class="title">Form Elements</h1>
    <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Form Elements</li>
    </ol>

    &lt;!&ndash; Start Page Header Right Div &ndash;&gt;
    <div class="right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="index.html" class="btn btn-light">Dashboard</a>
            <a href="#" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
            <a href="#" class="btn btn-light" id="topstats"><i class="fa fa-line-chart"></i></a>
        </div>
    </div>
    &lt;!&ndash; End Page Header Right Div &ndash;&gt;

</div>-->
<!-- End Page Header -->

<!-- Start Presentation -->
<!--<div class="row presentation">

    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-5 col-md-4 titles">
        <span class="icon color9-bg"><i class="fa fa-check-square-o"></i></span>
        <h1>Join the Conference</h1>
        &lt;!&ndash;<h4>Responsive and user-friendly form elements</h4>&ndash;&gt;
    </div>

    <div class="col-lg-3 col-md-4">
        <ul class="list-unstyled list">
            <li><i class="fa fa-pencil-square-o"></i>Topic : Fundamentals of Computing
            <li>
            <li><i class="fa fa-pencil-square-o"></i>Duration : 30 min
            <li>
            <li><i class="fa fa-pencil-square-o"></i>Instructor : Mr Alex
            <li>
        </ul>
    </div>

</div>-->
<!-- End Presentation -->


<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">


    <br/><br/><br/>
    <!-- Start Row -->
    <div class="row">
        <div class="col-md-6 video-container">
            <!--<video id="mainVideo" height="600" width="600" autoplay>
                &lt;!&ndash;<source src="video/sample.mp4" type="video/mp4">&ndash;&gt;
                &lt;!&ndash;Your browser does not support the video tag.&ndash;&gt;
            </video>-->
            <!--<div id="mainName"></div>-->
            <audio id="mainAudio" autoplay></audio>

            <!--<canvas id="canvas1" width="300" height="400" style="border:2px solid #000000;"></canvas>-->

            <div id="mainFormShareVideo" style="border:5px solid #000000;">
                <video id="mainFormShareVideo1" autoplay style="display: none"></video>
                <!--<canvas id="mainFormCanvas"></canvas>
                <canvas id="mainFormCanvas2"></canvas>-->
                <!--<input id="mainFormCanvasTextInput" type="text"/>
                <div id="mainFormShareName" class="video-label">Share</div>-->
                <img id="mainFormShareVideoImage" src="img/shreensharedummy.jpg" style="width: 100%;">
            </div>

            <div id="shareBtn" style="padding-top: 5px">
                <button ng-click="share()" class="btn btn-option4"><i class="fa fa-share-alt"></i>Share Screen</button>
            </div>
        </div>

        <div class="col-md-2">
            <video id="mainFormSelfVideo" height="150px" autoplay style="border:2px solid #000000;">
            </video>

            <div id="mainNameSelf">YOU</div>

            <video id="mainVideo1" height="150px" autoplay style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName1" style="display: none"></div>
            <video id="mainVideo2" height="150px" autoplay style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName2" style="display: none"></div>

            <video id="mainVideo3" height="150px" autoplay style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName3" style="display: none"></div>

            <video id="mainVideo4" autoplay height="150px" style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName4" style="display: none"></div>

            <video id="mainVideo5" autoplay height="150px" style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName5" style="display: none"></div>

            <video id="mainVideo6" autoplay height="150px" style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName6" style="display: none"></div>

            <video id="mainVideo7" autoplay height="150px" style="display: none;border:2px solid #000000;">
                <!--<source src="video/sample.mp4" type="video/mp4">-->
            </video>
            <div id="mainName7" style="display: none"></div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>











