<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTAINER -->
<div class="container-padding">


    <br/><br/><br/>
    <!-- Start Row -->
    <div class="row">
        <div class="col-md-6 video-container">
            <!--<div id="mainName"></div>-->
            <audio id="mainAudio" autoplay></audio>

            <!--<canvas id="canvas1" width="300" height="400" style="border:2px solid #000000;"></canvas>-->

            <div id="mainFormShareVideo" style="border:5px solid #000000;">
                <video id="mainFormShareVideo1" autoplay style="display: none"></video>

                <canvas id="mainFormCanvas" style="display:none; z-index: 1; position: absolute; top: 0px; left: 0px;"></canvas>
                <canvas id="mainFormCanvas2" style="display: none; z-index: 20; position: absolute; top: 0px; left: 0px;"></canvas>
                <!--<input id="mainFormCanvasTextInput" type="text"/>
                <div id="mainFormShareName" class="video-label">Share</div>-->

                <img id="mainFormShareVideoImage" src="img/shreensharedummy.jpg" style="width: 100%;">
            </div>

            <div id="shareBtn" style="padding-top: 5px">
                <button ng-click="share()" class="btn btn-option4"><i class="fa fa-share-alt"></i>Share Screen</button>
            </div>
        </div>

        <div class="col-md-2">
            <!--Self Video-->
            <video id="mainFormSelfVideo" height="150px" muted autoplay style="border:2px solid #000000;">
            </video>
            <div id="mainNameSelf">YOU</div>
            <!--Self Video ends here-->

            <!--Video lists for Active Participants-->
            <video id="mainVideo1" height="150px" autoplay style="display: none;border:2px solid #000000;">
            </video>

            <div id="mainName1" style="display: none"></div>
            <video id="mainVideo2" height="150px" autoplay style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName2" style="display: none"></div>

            <video id="mainVideo3" height="150px" autoplay style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName3" style="display: none"></div>

            <video id="mainVideo4" autoplay height="150px" style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName4" style="display: none"></div>

            <video id="mainVideo5" autoplay height="150px" style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName5" style="display: none"></div>

            <video id="mainVideo6" autoplay height="150px" style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName6" style="display: none"></div>

            <video id="mainVideo7" autoplay height="150px" style="display: none;border:2px solid #000000;">
            </video>
            <div id="mainName7" style="display: none"></div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>











